<!-- dodać opcję usuwania rekordów przy np walce z innym użytkownikiem -->


<html>

<head>
    <title>RPG - Fight List</title>
    <link rel="stylesheet" type="text/css" href="/CSS/style.css" />
    <link rel="stylesheet" type="text/css" href="/CSS/normalize.css" />
    <link href="https://fonts.googleapis.com/css?family=Shojumaru&display=swap" rel="stylesheet">
    <meta content="RPG game for fighting other characters and monsters.">
</head>

<body>
    <header>
        <nav>
            <a href="userProfile.html">Profile</a>
            <a href="fightList.html">Fights</a>
            <a href="mainPage.html">Log out</a>
        </nav>
    </header>

    <div class="container creationCWContainer">

        <div class="tableContainer">
            <h2>Last Users Fights</h2>
            <table id="fightsList">
                <thead>
                    <th>Character's name</th>
                    <th>Enemy's name</th>
                    <th>Options</th>
                </thead>
                <tbody>
                    <tr>
                        <td>Spongebob</td>
                        <td>Mario</td>
                        <td>
                            <div class="statisticsCheck">
                                <a class="fightOptions">Details</a><span class="tooltiptext">
                                    Date of fight: 02-02-1018 <br>
                                    Winner: You <br>
                                </span>
                            </div>
                            <a class="fightOptions">Delete</a>
                        </td>
                    </tr>
                    <tr>
                        <td>Spongebob</td>
                        <td>Mario</td>
                        <td>
                            <div class="statisticsCheck">
                                <a class="fightOptions">Details</a><span class="tooltiptext">
                                    Date of fight: 02-02-1018 <br>
                                    Winner: You <br>
                                </span>
                            </div>
                            <a class="fightOptions">Delete</a>
                        </td>
                    </tr>
                    <tr>
                        <td>Spongebob</td>
                        <td>Mario</td>
                        <td>
                            <div class="statisticsCheck">
                                <a class="fightOptions">Details</a><span class="tooltiptext">
                                    Date of fight: 02-02-1018 <br>
                                    Winner: You <br>
                                </span>
                            </div>
                            <a class="fightOptions">Delete</a>
                        </td>
                    </tr>
                    <tr>
                        <td>Spongebob</td>
                        <td>Mario</td>
                        <td>
                            <div class="statisticsCheck">
                                <a class="fightOptions">Details</a><span class="tooltiptext">
                                    Date of fight: 02-02-1018 <br>
                                    Winner: You <br>
                                </span>
                            </div>
                            <a class="fightOptions">Delete</a>
                        </td>
                    </tr>
                    <tr>
                        <td>Spongebob</td>
                        <td>Mario</td>
                        <td>
                            <div class="statisticsCheck">
                                <a class="fightOptions">Details</a><span class="tooltiptext">
                                    Date of fight: 02-02-1018 <br>
                                    Winner: You <br>
                                </span>
                            </div>
                            <a class="fightOptions">Delete</a>
                        </td>
                    </tr>
                    <tr>
                        <td>Spongebob</td>
                        <td>Mario</td>
                        <td>
                            <div class="statisticsCheck">
                                <a class="fightOptions">Details</a><span class="tooltiptext">
                                    Date of fight: 02-02-1018 <br>
                                    Winner: You <br>
                                </span>
                            </div>
                            <a class="fightOptions">Delete</a>
                        </td>
                    </tr>
                    <tr>
                        <td>Spongebob</td>
                        <td>Mario</td>
                        <td>
                            <div class="statisticsCheck">
                                <a class="fightOptions">Details</a><span class="tooltiptext">
                                    Date of fight: 02-02-1018 <br>
                                    Winner: You <br>
                                </span>
                            </div>
                            <a class="fightOptions">Delete</a>
                        </td>
                    </tr>
                </tbody>
            </table>
            <a class="newFightButton" href="enemiesList.html">New Fight</a>
        </div><!-- tableContainer end -->


        <div class="tableContainer">
            <h2>Monster Fights</h2>
            <table id="monsterFightsList">
                <thead>
                    <th>Name</th>
                    <th>Monster Name</th>
                </thead>
                <tbody>
                    <tr>
                        <td>My hero</td>
                        <td>Big Bad Wolf</td>
                    </tr>
                    <tr>
                        <td>My hero</td>
                        <td>Big Bad Wolf</td>
                    </tr>
                    <tr>
                        <td>My hero</td>
                        <td>Big Bad Wolf</td>
                    </tr>
                    <tr>
                        <td>My hero</td>
                        <td>Big Bad Wolf</td>
                    </tr>
                    <tr>
                        <td>My hero</td>
                        <td>Big Bad Wolf</td>
                    </tr>
                    <tr>
                        <td>My hero</td>
                        <td>Big Bad Wolf</td>
                    </tr>
                    <tr>
                        <td>My hero</td>
                        <td>Big Bad Wolf</td>
                    </tr>
                    <tr>
                        <td>My hero</td>
                        <td>Big Bad Wolf</td>
                    </tr>
                </tbody>
            </table>

            <a class="newFightButton" href="monsterList.html">New Fight</a>
        </div><!-- tableContainer end -->


    </div> <!-- container end -->
    <div class="space"></div>
    <footer>By Kinga Kwiatkowska s16612 &copy;</footer>
    <script src="JS/fightListJS.js"></script>
</body></html>
